package ${responsePackage};

import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasLocalDate)
import java.time.LocalDate;
#end
#if($hasBigDecimal)
import java.math.BigDecimal;
#end

/**
 * ${comment}响应对象
 */
@Data
@Schema(description = "${comment}响应对象")
public class ${entityName}RespVO {
#foreach($column in $columns)
#if(!$column.isLogicDelete)
    #if(!$column.isTimestampField)
    /**
     * ${column.comment}
     */
    @Schema(description = "${column.comment}")
    private ${column.javaTypeSimpleName} ${column.propertyName};
    #end
    #if($column.isTimestampField)
    /**
     * ${column.comment}
     */
    @Schema(description = "${column.comment}")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    private ${column.javaTypeSimpleName} ${column.propertyName};
    #end

#end
#end
}