package ${entityPackage};

import com.mybatisflex.annotation.Id;
import com.mybatisflex.annotation.Table;
import lombok.Data;
import lombok.experimental.Accessors;
import ($commonPackage).BaseEntity;
import java.time.LocalDateTime;
## 判断是否有日期字段
#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasLocalDate)
import java.time.LocalDate;
#end

/**
 * ${comment}
 */
@Data
@Accessors(chain = true)
@Table("${tableName}")
public class ${entityName} extends BaseEntity {
#foreach($column in $columns)
    /**
     * ${column.comment}
     */
    #if($column.isPrimary)
    @Id#if($column.autoIncrement)(keyType = com.mybatisflex.annotation.KeyType.Auto)#end
    #end
    private ${column.javaTypeSimpleName} ${column.propertyName};

#end
}