package ${entityPackage};

import com.mybatisflex.annotation.Id;
import com.mybatisflex.annotation.Table;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import ${commonPackage}.BaseEntity;
#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasLocalDate)
import java.time.LocalDate;
#end
#if($hasBigDecimal)
import java.math.BigDecimal;
#end

/**
 * ${comment}
 */
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
@Table("${originalTableName}")
public class ${entityName}PO extends BaseEntity {
#foreach($column in $columns)
#if(!$column.isLogicDelete && !$column.isBaseEntityField)

    /**
     * ${column.comment}
     */
    #if($column.isPrimary)
    @Id#if($column.autoIncrement)(keyType = com.mybatisflex.annotation.KeyType.Auto)#end
    #end
    private ${column.javaTypeSimpleName} ${column.propertyName};
#end
#end
}