package ${controllerPackage};

import cn.hutool.core.bean.BeanUtil;
import ${requestPackage}.${entityName}CreateReq;
import ${requestPackage}.${entityName}UpdateReq;
import ${requestPackage}.${entityName}PageQuery;
import ${responsePackage}.${entityName}RespVO;
import ${entityPackage}.${entityName}PO;
import ${servicePackage}.${entityName}Service;
import ${commonPackage}.CommonResult;
import com.mybatisflex.core.paginate.Page;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import javax.validation.Valid;

/**
 * ${comment} 控制器
 */
@RestController
@RequestMapping("${requestMappingURL}")
@Tag(name = "${comment}管理")
public class ${entityName}Controller {

    @Resource
    private ${entityName}Service ${entityVariable}Service;

    @PostMapping("/create")
    @Operation(summary = "创建${comment}")
    public CommonResult<Long> create(@Valid @RequestBody ${entityName}CreateReq req) {
        Long id = ${entityVariable}Service.create(req);
        return CommonResult.success(id);
    }

    @PutMapping("/update")
    @Operation(summary = "更新${comment}")
    public CommonResult<Boolean> update(@Valid @RequestBody ${entityName}UpdateReq req) {
        Boolean result = ${entityVariable}Service.update(req);
        return CommonResult.result(result);
    }

    @DeleteMapping("/delete/{id}")
    @Operation(summary = "删除${comment}")
    public CommonResult<Boolean> delete(@PathVariable Long id) {
        Boolean result = ${entityVariable}Service.delete(id);
        return CommonResult.result(result);
    }

    @PostMapping("/page-query")
    @Operation(summary = "分页查询${comment}")
    public CommonResult<Page<${entityName}RespVO>> pageQuery(@Valid @RequestBody ${entityName}PageQuery query) {
        Page<${entityName}RespVO> result = ${entityVariable}Service.pageQuery(query);
        return CommonResult.success(result);
    }

    @GetMapping("/get/{id}")
    @Operation(summary = "获取${comment}详情")
    public CommonResult<${entityName}RespVO> getById(@PathVariable Long id) {
        ${entityName}PO ${entityVariable}PO = ${entityVariable}Service.getById(id);
        ${entityName}RespVO ${entityVariable}RespVO = BeanUtil.toBean(${entityVariable}PO, ${entityName}RespVO.class);
        return CommonResult.success(${entityVariable}RespVO);
    }
}