package ${requestPackage};

import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;
import ${commonPackage}.PageParams;

#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasLocalDate)
import java.time.LocalDate;
#end
#if($hasBigDecimal)
import java.math.BigDecimal;
#end

/**
 * ${comment}分页查询请求
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Schema(description = "${comment}分页查询请求")
public class ${entityName}PageQuery extends PageParams {

    @Schema(description = "关键词搜索")
    private String keyword;

    #foreach($column in $columns)
        #if(!$column.isPrimary && !$column.isLogicDelete && !$column.isTimestampField)
    @Schema(description = "${column.comment}")
    private ${column.javaTypeSimpleName} ${column.propertyName};

        #end
        #if($column.isTimestampField)
    @Schema(description = "${column.comment}", example = "[\"2026-01-01 00:00:00\", \"2026-01-31 23:59:59\"]")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    private LocalDateTime[] ${column.propertyName};

        #end
    #end
##    @Schema(description = "排序字段")
##    private String orderBy = "createTime";
##
##    @Schema(description = "排序方式", allowableValues = {"asc", "desc"})
##    private Boolean orderType = "desc";
}