package ${serviceImplPackage};

import cn.hutool.core.bean.BeanUtil;
import com.mybatisflex.spring.service.impl.ServiceImpl;
import ${requestPackage}.${entityName}CreateReq;
import ${requestPackage}.${entityName}UpdateReq;
import ${requestPackage}.${entityName}PageQuery;
import ${responsePackage}.${entityName}RespVO;
import ${entityPackage}.${entityName}PO;
import ${mapperPackage}.${entityName}Mapper;
import ${servicePackage}.${entityName}Service;
import com.mybatisflex.core.paginate.Page;
import com.mybatisflex.core.query.If;
import com.mybatisflex.core.query.QueryWrapper;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;

import static ${entityPackage}.table.${entityName}POTableDef.${tableConstantName}_PO;

/**
 * ${comment}服务实现
 */
@Slf4j
@Service
public class ${entityName}ServiceImpl extends ServiceImpl<${entityName}Mapper, ${entityName}PO> implements ${entityName}Service {

    @Resource
    private ${entityName}Mapper ${entityVariable}Mapper;

    @Override
    public Long create(${entityName}CreateReq req) {

        // 1. 转换实体对象
        ${entityName}PO ${entityVariable}PO = BeanUtil.toBean(req, ${entityName}PO.class);

        // 2. 保存到数据库
        ${entityVariable}Mapper.insertSelective(${entityVariable}PO);

        // 3. 返回新增结果
        return ${entityVariable}PO.getId();
    }

    @Override
    public Boolean update(${entityName}UpdateReq req) {

        // 1. 校验是否存在
        validateExists(req.getId());

        // 2. 转换实体对象
        ${entityName}PO updateObject = BeanUtil.toBean(req, ${entityName}PO.class);

        // 3. 更新到数据库
        int result = ${entityVariable}Mapper.update(updateObject);

        return result > 0;
    }

    @Override
    public Boolean delete(Long id) {

        // 1. 校验是否存在
        validateExists(id);

        // 2. 根据主键删除
        int result = ${entityVariable}Mapper.deleteById(id);

        return result > 0;
    }

    @Override
    public ${entityName}PO getById(Long id) {
        return ${entityVariable}Mapper.selectOneById(id);
    }

    @Override
    public Page<${entityName}RespVO> pageQuery(${entityName}PageQuery query) {

        // 1. 构建查询条件
        QueryWrapper queryWrapper = buildQueryWrapper(query);

        // 2. 执行分页查询
        return ${entityVariable}Mapper.paginateAs(query.getPageNo(), query.getPageSize(), queryWrapper, ${entityName}RespVO.class);
##        // 排序
##        if (StringUtils.hasText(query.getSortField())) {
##            if ("desc".equalsIgnoreCase(query.getSortOrder())) {
##                queryWrapper.orderBy(${tableConstantName}.column(query.getSortField().toUpperCase()).desc());
##            } else {
##                queryWrapper.orderBy(${tableConstantName}.column(query.getSortField().toUpperCase()).asc());
##            }
##        } else {
##            queryWrapper.orderBy(${tableConstantName}.CREATE_TIME.desc());
##        }
    }

    private static QueryWrapper buildQueryWrapper(${entityName}PageQuery query) {
        return QueryWrapper.create()
                .select()
                .from(${tableConstantName}_PO)
##                .where(${tableConstantName}_PO.DELETED.eq(0))
    #foreach($column in $columns)
        #if(!$column.isPrimary && !$column.isLogicDelete)
            #if($column.name.endsWith("_name") || $column.name.endsWith("_title") ||
                $column.name.endsWith("_remark") || $column.name.endsWith("_desc") ||
                $column.name.endsWith("_description") || $column.name.endsWith("_key") ||
                $column.name.endsWith("_value"))
                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.like(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}(), If::hasText))
            #elseif($column.dataType == "int" || $column.dataType == "tinyint" || $column.dataType == "smallint" || $column.dataType == "bigint" || $column.dataType == "integer")
                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.eq(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}(), If::notNull))
            #elseif($column.dataType == "varchar" || $column.dataType == "char" || $column.dataType == "text" || $column.dataType == "longtext" || $column.dataType == "mediumtext")
                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.eq(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}(), If::hasText))
            #elseif($column.dataType == "decimal" || $column.dataType == "numeric" || $column.dataType == "float" || $column.dataType == "double")
##                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.eq(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}(), If::notNull))
            #elseif($column.dataType == "datetime" || $column.dataType == "timestamp" || $column.dataType == "date")
                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.between(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}()))
            #elseif($column.dataType == "bit" || ($column.dataType == "tinyint" && $column.columnType.toLowerCase().contains("tinyint(1)")))
                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.eq(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}(), If::notNull))
            #else
                .and(${tableConstantName}_PO.${column.name.toUpperCase()}.eq(query.get${column.propertyName.substring(0,1).toUpperCase()}${column.propertyName.substring(1)}(), If::notNull))
            #end
        #end
    #end                .orderBy(${tableConstantName}_PO.CREATE_TIME, false);
    }

    /**
     * 校验数据是否存在
     *
     * @param id 主键
     * @return ${entityName}PO
     */
    private ${entityName}PO validateExists(Long id) {
        ${entityName}PO ${entityVariable}PO = ${entityVariable}Mapper.selectOneById(id);
        if (${entityVariable}PO == null) {
            throw new RuntimeException("${comment}不存在");
        }

        return ${entityVariable}PO;
    }
}