package ${serviceImplPackage};

import cn.hutool.core.bean.BeanUtil;
import com.mybatisflex.spring.service.impl.ServiceImpl;
import ${requestPackage}.${entityName}CreateReq;
import ${requestPackage}.${entityName}UpdateReq;
import ${requestPackage}.${entityName}PageQuery;
import ${responsePackage}.${entityName}RespVO;
import ${entityPackage}.${entityName}PO;
import ${mapperPackage}.${entityName}Mapper;
import ${servicePackage}.${entityName}Service;
import com.mybatisflex.core.paginate.Page;
import com.mybatisflex.core.query.If;
import com.mybatisflex.core.query.QueryWrapper;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;

import static ${entityPackage}.table.${entityName}POTableDef.${tableConstantName}_PO;

/**
 * ${comment}服务实现
 */
@Slf4j
@Service
public class ${entityName}ServiceImpl extends ServiceImpl<${entityName}Mapper, ${entityName}PO> implements ${entityName}Service {

    @Resource
    private ${entityName}Mapper ${entityVariable}Mapper;

    @Override
    public Long create(${entityName}CreateReq req) {

        // 1. 转换实体对象
        ${entityName}PO ${entityVariable}PO = BeanUtil.toBean(req, ${entityName}PO.class);

        // 2. 保存到数据库
        ${entityVariable}Mapper.insertSelective(${entityVariable}PO);

        // 3. 返回新增结果
        return ${entityVariable}PO.getId();
    }

    @Override
    public Boolean update(${entityName}UpdateReq req) {

        // 1. 校验是否存在
        validateExists(req.getId());

        // 2. 转换实体对象
        ${entityName}PO updateObject = BeanUtil.toBean(req, ${entityName}PO.class);

        // 3. 更新到数据库
        int result = ${entityVariable}Mapper.update(updateObject);

        return result > 0;
    }

    @Override
    public Boolean delete(Long id) {

        // 1. 校验是否存在
        validateExists(id);

        // 2. 根据主键删除
        int result = ${entityVariable}Mapper.deleteById(id);

        return result > 0;
    }

    @Override
    public ${entityName}PO getById(Long id) {
        return ${entityVariable}Mapper.selectOneById(id);
    }

    @Override
    public Page<${entityName}RespVO> pageQuery(${entityName}PageQuery query) {
        return ${entityVariable}Mapper.pageQuery(query);
##        // 排序
##        if (StringUtils.hasText(query.getSortField())) {
##            if ("desc".equalsIgnoreCase(query.getSortOrder())) {
##                queryWrapper.orderBy(${tableConstantName}.column(query.getSortField().toUpperCase()).desc());
##            } else {
##                queryWrapper.orderBy(${tableConstantName}.column(query.getSortField().toUpperCase()).asc());
##            }
##        } else {
##            queryWrapper.orderBy(${tableConstantName}.CREATE_TIME.desc());
##        }
    }

    /**
     * 校验数据是否存在
     *
     * @param id 主键
     * @return ${entityName}PO
     */
    private ${entityName}PO validateExists(Long id) {
        ${entityName}PO ${entityVariable}PO = ${entityVariable}Mapper.selectOneById(id);
        if (${entityVariable}PO == null) {
            throw new RuntimeException("${comment}不存在");
        }

        return ${entityVariable}PO;
    }
}