package ${mapperPackage};

import ${entityPackage}.${entityName}PO;
import com.mybatisflex.core.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comment} Mapper 接口
 */
@Mapper
public interface ${entityName}Mapper extends BaseMapper<${entityName}PO> {

}